<div class="section" ng-show="auth">

	<div class="container">
	<div class="row">
		<div class="col-md-12 text-center page-header">
			<h1><i class="fa fa-sm fa-spinner" ng-class="{'fa-pulse': loading}" aria-hidden="true"></i> Daily Goal <small ng-bind="date"></small></h1>
			<!-- date picker -->
			<!-- <div style="display:inline-block; min-height:290px;"> -->
		</div>
	</div>
	</div>

	<br>

	<div class="container">
	<div class="row">
		<div class="col-md-6 text-center">
			<div style="display:inline-block;" class="pull-center">
	  			<div uib-datepicker ng-model="dt" class="well well-sm" datepicker-options="options"></div>
			</div>

			<ul class="pager">
				<li><a ng-href="#/{{ go('prev') }}">←	Prev</a></li>
				<li><a ng-click="today()"> Today </a></li>
				<li><a ng-click="jump()"> Jump </a></li>
				<li><a ng-href="#/{{ go('next') }}">Next	→</a></li>
			</ul>
		</div>
		<!-- date picker end -->

		<div class="col-md-6">

			<textarea style="height: auto" class="form-control" rows="12" ng-model="goaldata.values[0][13]"></textarea>
			<br>
			<button class="btn btn-info pull-right" type="button" name="button"
				ng-click="changeGoalStatus('memo', goaldata.values[0][13])">
				SAVE
			</button>

		</div>

	</div>

	<hr />

	<div class="row">
		<div class="col-md-4">
		<blockquote>
			<p>Goal A</p>
			<p>
				<input id="checkA" type="checkbox"
					ng-model="goaldata.values[0][4]"
					ng-change="changeGoalStatus('a', goaldata.values[0][4])">
				{{ goaldata.values[0][1] }}
			</p>
			<footer>
				<a ng-href="{{goaldata.values[0][3]}}" target="_blank">{{ goaldata.values[0][2] }}</a>
			</footer>
		</blockquote>
		</div>

		<div class="col-md-4">
		<blockquote>
			<p>Goal B</p>
			<p>
				<input id="checkB" type="checkbox"
					ng-model="goaldata.values[0][8]"
					ng-change="changeGoalStatus('b', goaldata.values[0][8])">
				{{ goaldata.values[0][5] }}
			</p>
			<footer>
				<a ng-href="{{goaldata.values[0][7]}}" target="_blank">{{ goaldata.values[0][6] }}</a>
			</footer>
		</blockquote>
		</div>

		<div class="col-md-4">
		<blockquote>
			<p>Goal C</p>
			<p>
				<input id="checkC" type="checkbox"
					ng-model="goaldata.values[0][12]"
					ng-change="changeGoalStatus('c', goaldata.values[0][12])">
				{{ goaldata.values[0][9] }}
			</p>
			<footer>
				<a ng-href="{{goaldata.values[0][11]}}" target="_blank">{{ goaldata.values[0][10] }}</a>
			</footer>
		</blockquote>

		</div>
	</div>

	</div>
</div>
