<div class="section">
	<div class="container">

	<div class="row">
		<div class="col-md-4">
		<blockquote>
			<p>
				<input id="checkA" type="checkbox"
					ng-model="goaldata.values[0][4]"
					ng-change="changeGoalStatus('a', goaldata.values[0][4])">
				{{ goaldata.values[0][1] }}
			</p>
			<footer>
				<a ng-href="goaldata.values[0][3]" target="_blank">{{ goaldata.values[0][2] }}</a>
			</footer>
		</blockquote>
		</div>

		<div class="col-md-4">
		<blockquote>
			<p>
				<input id="checkB" type="checkbox"
					ng-model="goaldata.values[0][8]"
					ng-change="changeGoalStatus('b', goaldata.values[0][8])">
				{{ goaldata.values[0][5] }}
			</p>
			<footer>
				<a ng-href="goaldata.values[0][7]" target="_blank">{{ goaldata.values[0][6] }}</a>
			</footer>
		</blockquote>
		</div>

		<div class="col-md-4">
		<blockquote>
			<p>
				<input id="checkC" type="checkbox"
					ng-model="goaldata.values[0][12]"
					ng-change="changeGoalStatus('c', goaldata.values[0][12])">
				{{ goaldata.values[0][9] }}
			</p>
			<footer>
				<a ng-href="goaldata.values[0][11]" target="_blank">{{ goaldata.values[0][10] }}</a>
			</footer>
		</blockquote>

		</div>
	</div>


	<div class="row">
		<div class="col-md-12">
		<ul class="pager">
			<li>
			<a href="#">←	Prev</a>
			</li>
			<li>
			<a href="#">Next	→</a>
			</li>
		</ul>
		</div>
	</div>

	</div>
</div>
